USE [master]
GO
/****** Object:  Database [TrainTicketingSystem]    Script Date: 04/01/2024 23:08:04 ******/
CREATE DATABASE [TrainTicketingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainTicketingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrainTicketingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainTicketingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrainTicketingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainTicketingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainTicketingSystem]
GO
/****** Object:  Table [dbo].[passengerz]    Script Date: 04/01/2024 23:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passengerz](
	[FirstName] [varchar](25) NOT NULL,
	[LastName] [varchar](25) NULL,
	[ContactNumber] [numeric](11, 0) NOT NULL,
	[CNIC] [numeric](13, 0) NOT NULL,
	[TicketNumber] [varchar](10) NOT NULL,
	[Departure] [varchar](10) NOT NULL,
	[Arrival] [varchar](10) NOT NULL,
	[TicketDateTime] [datetime] NOT NULL,
	[Seats] [int] NOT NULL,
 CONSTRAINT [PK_passengerz] PRIMARY KEY CLUSTERED 
(
	[TicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trainz]    Script Date: 04/01/2024 23:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trainz](
	[Departure] [varchar](10) NOT NULL,
	[Arrival] [varchar](10) NOT NULL,
	[Availablity] [varchar](15) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[TicketPrice] [int] NOT NULL,
 CONSTRAINT [PK_trainz] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uzers]    Script Date: 04/01/2024 23:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uzers](
	[FirstName] [varchar](25) NOT NULL,
	[LastName] [varchar](25) NULL,
	[ContactNumber] [numeric](11, 0) NOT NULL,
	[CNIC] [numeric](13, 0) NOT NULL,
	[EmailAddress] [varchar](75) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Birthdate] [date] NOT NULL,
 CONSTRAINT [PK_uzers] PRIMARY KEY CLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
